body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
.top-bar {
  background-color: #1f203a;
}
.flexiable-sec {
  display: flex;
  align-items: center;
}
.one-half {
  width: 40%;
  margin-left: 5%;
}
.top-bar .c-logo h2 {
  color: #fff;
}
.top-bar .nav a {
  text-align: right;
  display: block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.intro-sec {
  padding-bottom: 70px;
}
.intro-sec .top-bannar {
  background-color: #c6cbd8;
  padding: 150px 0;
}
.intro-sec .intro-content .u-img {
  display: flex;
  justify-content: center;
}
.intro-sec .intro-content .u-img img {
  width: 30%;
  heigth: 30%;
  border-radius: 50%;
  margin-top: -250px;
  border: 7px solid #fff;
}
.intro-sec .intro-content .u-text {
  text-align: center;
}
h1 {
  font-size: 45px;
  color: #1f203a;
  margin-bottom: 0;
}
p {
  font-size: 18px;
  color: #363535;
  line-height: 1.4em;
}
.intro-sec .intro-content .u-text p span {
  font-weight: 600;
  color: #1f203a;
}
.cv-btn,
.more-btn,
.port-btn,
.client-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 30px;
  font-weight: bold;
  color: #1f203a;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  border: 2px solid #1f203a;
  border-radius: 3px;
  transition: all 0.5s;
}
.cv-btn:hover,
.port-btn:hover {
  background-color: #1f203a;
  color: #fff;
}
.design-sec {
  padding: 40px 0;
  background-color: #c6cbd8;
}
.design-sec h1 {
  font-weight: normal;
  margin-left: 5%;
  color: #666;
}
.design-sec h1 span {
  font-weight: bold;
  color: #1f203a;
}
h3 {
  color: #333;
  line-height: 1.4em;
}
.design-sec p {
  font-size: 14px;
}
.design-sec img {
  width: 80%;
  float: right;
}
.design-sec .ex-with-pro .ex-pro {
  text-align: right;
  margin-left: 20px;
}
.design-sec .ex-with-pro .u-no {
  display: inline-block;
  font-family: tahoma;
  font-size: 25px;
  color: tomato;
  font-weight: 800;
  float: left;
  overflow: hidden;
  padding-right: 7px;
}
.design-sec .ex-with-pro .u-ex {
  display: inline-block;
  text-align: left;
  font-size: 12px;
}
.build-digi-sec {
  padding: 100px 0;
}
.build-digi-sec h1 {
  font-size: 120px;
  text-align: right;
  margin-top: 0;
}
.build-digi-sec h1 span {
  font-weight: normal;
}
.build-digi-sec p {
  font-size: 16px;
}
.more-btn,
.client-btn {
  background-color: #1f203a;
  color: #fff;
}
.more-btn:hover,
.client-btn:hover {
  background-color: transparent;
  color: #1f203a;
}
.portfolio-sec {
  padding-bottom: 70px;
}
.portfolio-sec .port-photo {
  display: flex;
  align-items: center;
  background-color: #c6cbd8;
  margin-left: inherit;
  width: 70%;
  padding: 5% 0;
  margin-right: -20%;
}
.portfolio-sec .port-txt {
  width: 30%;
  background-color: #fff;
  padding: 5% 5%;
}
.portfolio-sec .port-photo .col {
  width: 40%;
  margin-left: 5%;
}
.portfolio-sec .port-photo .col img:first-child {
  display: inline-block;
  margin-bottom: 10%;
}
.portfolio-sec .img-col-2 {
  margin-right: 30%;
}
.portfolio-sec img {
  width: 100%;
}
.port-txt h1 {
  font-size: 70px;
  text-transform: capitalize;
  margin-top: 0;
}
.port-txt .port-btn {
  display: inline-block;
  margin-bottom: 20px;
}
.clients-say {
  padding: 20px 0 100px 0;
}
.clients-say img {
  width: 100%;
}
.clients-say .client-photo {
  position: relative;
}
.clients-say .client-img:before {
  content: "";
  clear: both;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #c6cbd8;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
}
.clients-say h1 {
  margin-top: 0;
}
.ready-to-talk {
  background-image: url(images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px 0 200px 0;
  min-height: 330px;
}
.ready-to-talk .contact-form {
  width: 50%;
  background-color: #ffffff;
  float: left;
  padding: 7% 5%;
  margin-left: 5%;
}
.ready-to-talk .contact-form h1 {
  margin-top: 0;
  font-size: 45px;
  margin-bottom: 20px;
}
.ready-to-talk .contact-form input {
  width: 100%;
  font-size: 20px;
  padding: 10px 30px 10px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #1f203a;
  color: #1f203a;
}
.ready-to-talk .contact-form button[type="submit"] {
  width: 100%;
  padding: 10px 30px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #1f203a;
  color: #fff;
  border: none;
  cursor: pointer;
}
footer {
  text-align: center;
  background-color: #1f203a;
  overflow: hidden;
  color: #f1f1f1;
  padding: 30px 0;
}
footer h4 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 0;
  margin-bottom: 12px;
}
footer a {
  color: #f1f1f1;
  display: inline-block;
  font-size: 20px;
  margin: 0 7px;
}
